# data tools
numpy
pandas

# visualisation
matplotlib
seaborn

# machine learning tools
scikit-learn
imbalanced-learn
xgboost
lightgbm
catboost
tensorflow
keras
keras-tuner # for tuning keras models

# notebook dependencies
jupyter
ipykernel